.text-center {
  text-align: center;
}

.my {
  margin: 5px 0;
}

.flex_center {
  @extend %flex_center;
}

.operation_information {
  @extend %sec;

  i {
    &:not(:first-child) {
      margin-left: 40px;
      @include res(1100) {
        margin-left: 20px;
      }
    }

    @extend %operation_icon;
  }

  button {
    margin-left: 20px;
  }
}

.order_information {
  @extend %sec;

  span {
    font-weight: bold;
    margin-left: 10px;
  }
}

.hidden {
  display: none !important;
}