#sidebar {
    display: inline-flex;
    width: 18%;
    height: 100vh;
    padding-top: 5%;
    background-color: $colorLightBlue;

    ul {
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 25px;
        }

        a {
            color: $colorBlack;
        }
    }
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #2d3436;
    border-bottom: 1px solid #ccc;

    &,a {
        color: #fff;
    }

    ul {
        display: flex;
        li {
            margin: 0 10px;
        }
    }

    .logo {
        font-size: 25px;
    }
}
