%dflex {
  display: flex;
}

%boron {
  border: none;
  outline: none;
}

%trans {
  transition: all .3s;
}

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%operation_icon {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  font-size: 17px;
  margin: 0 5px;
  border-radius: 5px;
  @include res(1100) {
    padding: 4px 8px;
    font-size: 14px;
  }
  @for $i from 1 through length($table-operation_color) {
    &:nth-child(#{$i}) {
      background-color: nth($table-operation_color, $i);
    }
  }
}

%button {
  border: none;
  outline: none;
  padding: 10px 15px;
  color: #fff;
  background-color: $current_color;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  @include res(1100) {
    padding: 6px 9px;
  }
}

%sec {
  width: 60%;
  margin: 25px 0;
  font-size: 15px;
  color: $text_color;
}